absl-py==0.7.1
astor==0.8.0
backcall==0.1.0
cycler==0.10.0
Cython==0.29.10
decorator==4.4.0
gast==0.2.2
google-pasta==0.1.7
grpcio==1.21.1
h5py==2.9.0
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.14.0
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.0
networkx==2.3
numpy==1.16.0
opencv-python==4.1.0.25
pandas==0.24.2
parso==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
prompt-toolkit==2.0.9
protobuf==3.8.0
ptyprocess==0.6.0
pycocotools==2.0.0
Pygments==2.4.2
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1.1
scikit-image==0.11.3
scipy==1.1.0
six==1.12.0
tensorboard==1.10.0
tensorflow-estimator==1.14.0
tensorflow-gpu==2.6.4
termcolor==1.1.0
tqdm==4.32.2
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.15.4
wrapt==1.11.2
